<div class="container">
  <div class="user-card">
    <div class="user-picture-and-button">

    </div>

    <div class="user-details">
      <h3><%= current_user.email %></h3>
    </div>
    <div>
      <% robots = current_user.robots %>
      <% robots.each do |robot| %>
        <h4> <%= robot.name %></h4><br>
      <% end %>
    </div>
  </div>
  <div>
  </div>
  <hr>
  <div class="robots-owned-or-bookings-maid">
  </div>
</div>
