<div class="container">
  <div class="user-card">
    <div class="user-picture-and-button">

    </div>
    <div class="user-details">
      <h3><%= @user.email %></h3>
    </div>
  </div>
  <div>
    <% @owner = @user.owner %>
    <h4><%= @owner %></h4>
  </div>
  <hr>
  <div class="robots-owned-or-bookings-maid">
  </div>
</div>
